<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shop.demo.mapper.OrderMapper">
    <insert id="addOrder">
        insert into orders (orderId, account, addressId, totalPrice, info, paymentLimitTime) values (#{orderId}, #{account},
        #{addressId}, #{totalPrice}, #{info}, #{paymentLimitTime});
    </insert>

    <select id="getOrder" resultType="shop.demo.entity.Order">
        select id, orderId, addressId, orderStatus, totalPrice, info, paymentLimitTime, closeLimitTime, payTime,
        createdAt,
        updatedAt from
        orders
        where
         account = #{account} and orderId = #{orderId} limit 1;
    </select>

    <update id="putOrderStatus">
        update orders set orderStatus = #{orderStatus}
        <if test="orderStatus == 1">, payTime = CURRENT_TIMESTAMP()</if>
        where
        account = #{account}
        and orderId = #{orderId}
        limit 1;
    </update>

    <update id="putOrderAddress">
        update orders set addressId = #{addressId}
        where
        account = #{account}
        and orderId = #{orderId}
        limit 1;
    </update>

    <select id="getOrderList" resultType="shop.demo.entity.Order">
        select id, orderId, addressId, orderStatus, totalPrice, info, paymentLimitTime, closeLimitTime, payTime,
        createdAt,
        updatedAt from orders
        <where>
            <if test="orderStatus != null">
                <if test="orderStatus == 0 || orderStatus == 1 || orderStatus == 2 || orderStatus == 8">
                    orderStatus = #{orderStatus}
                </if>
                <if test="orderStatus == 3">
                    orderStatus &gt;= 4 and orderStatus &lt;= 5
                </if>
                <if test="orderStatus == 4">
                    orderStatus &gt;= 6 and orderStatus &lt;= 7
                </if>
            </if>
            and account = #{account}
        </where>
        order by updatedAt desc
        <if test="limit != null and page != null">
            limit #{limit} offset #{page}
        </if>
        ;
    </select>
</mapper>