<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="shop.demo.mapper.UserMapper">
    <select id="getAllUser" resultType="shop.demo.entity.User" parameterType="shop.demo.entity.User">
        select account,createdAt, avatar, name from user;
    </select>

    <select id="getUserByAccount" resultType="shop.demo.entity.User" parameterType="shop.demo.entity.User">
        select account,balance,createdAt, avatar, name from user where account = #{account} limit 1;
    </select>

    <insert id="addUser" parameterType="shop.demo.entity.User">
        insert into user(account,password) values(#{account},#{password})
    </insert>

    <select id="getUserByAccountAndPassword" resultType="shop.demo.entity.User" parameterType="shop.demo.entity.User">
        select account from user where account = #{account} and password = #{password}
    </select>

    <update id="putUserPwdByAccount" parameterType="shop.demo.entity.User">
        update user set password = #{password} where account = #{account} limit 1;
    </update>

    <select id="getUserBalanceRecord" parameterType="shop.demo.entity.UserBalanceRecord"
            resultType="shop.demo.entity.UserBalanceRecord">
        select account,useType,useAmount,orderId,createdAt,updatedAt from user_balance_record where account =
        #{account};
    </select>

    <select id="getUserBalance" resultType="java.math.BigDecimal">
        select balance from user where account = #{account} limit 1;
    </select>

    <update id="putUserBalance">
        update user set balance = balance - #{balance} where account = #{account} limit 1;
    </update>

    <update id="putUserAvatarOrName">
        update user set avatar = #{avatar}, name = #{name} where account = #{account} limit 1;
    </update>
</mapper>